tr {
 color:black;
 background:white;
 }
 p {
 color:black;
 text-align: justify;
 }
 body {
 background:white;
 }
 .hijau {
 color:white;
 text-align:center ;
 background :black;
 }
 .hehe {
 color:darkblue;
 }
 h3 {
     text align: center
 }