
#Judul0 {
    text-align: center;
    Color:black;}
    
#Judul1 {
    text-align: center;
    Color: red;}

    div p {
        border: 1px solid rgb(25, 25, 168);}
        table, th, td {
            border: 1px solid black;}

    a {color: rgb(255, 10, 31);}